
.container{
  margin-top: 10px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dialog{
  text-shadow: none;
}

.my-phone-input .flag-dropdown {
  display: none;
}

/* .grid_component{
  background-color: white;
} */

/* .table {
  margin: auto;
  font-family: Comic Sans MS;
  text-align: center;
  border-collapse: separate;
  border-spacing: 5px;
  background-position: top center;
  background-size: cover;
  background-color: white;
  color: rgb(0, 128, 255);
  border: 7px solid white;
  border-radius: 20px;
}

th {
  font-size: 14px;
  padding: 10px;
}

td {
  background-color: rgba(161, 240, 15, 0.3);
  border-radius: 5px;
  padding: 5px;
}

input::placeholder {
  opacity: 0.6;
  color: rgb(0, 128, 255);
  font-family: Comic Sans MS;
}

input {
  font-family: Comic Sans MS;
  color: black;
  width: 10em;
} */

.shine-button {
  text-decoration: none;
  display: inline-block;
  padding: 2px 15px;
  margin: 2px 10px;
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(0, 128, 255);
  border-radius: 8px;
  font-family: Comic Sans MS;
  text-align: left;
  font-size: 10px;
  color: black;
  transition: .2s ease-in-out;
}

.shine-button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}

.shine-button:hover {
  background: rgb(66,170,255);
  color: #fff;
}

.shine-button:hover:before {
  left: 250px;
  transition: .5s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .EmployeeTable {
    flex-direction: row;
  }
}

@media only screen and (max-width: 500px) {
  .EmployeeTable {
    flex-direction: column;
  }

  .AddEmployee {
    width: 100%;
  }
}

