
.scheduler-container {
    height: calc(100vh - 50px - 200px);
    width: 90vw;
}

.dhtmlx_popup_text {
    width: 500px;
}

.scheduler_modal_box,
.dhtmlx_modal_box,
.scheduler-alert,
.dhtmlx-alert {
width: 500px !important;
}

.dhtmlx_ok_button {
    width: 180px !important;
}

.dhtmlx_cancel_button {
    width: 180px !important;
}

 .dhtmlx_popup_controls {
    width: 450px !important;
}

.dhtmlx_отменить_button {
    width: 80px;
    font-size: 12px !important;
}

.dhtmlx_редактировать_серию_button {
    width: 130px;
    font-size: 12px !important;

}
.dhtmlx_редактировать_экземпляр_button {
    width: 130px;
    font-size: 12px !important;
}

