.login-page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Comic Sans MS, Impact, fantasy, 'Times New Roman', Times, serif;
    font-weight: 500;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,112,230,0.9080882352941176) 84%, rgba(0,212,255,1) 100%);
    text-align: center;
}

.title {
    font-family: "Pacifico", bold;
	color: white;
	font-size: 50px;
    margin-bottom: 20px;
    text-shadow: none;
}

.input_background{
   height: 50%;
   width: 50%;
   background-color: white;
   padding: 100px 10px;
   padding-bottom: 20px;
   border-radius: 5%;
}

.login-button {
    text-decoration: none;
    display: inline-block;
    padding: 2px 15px;
    margin: 2px 10px;
    height: 50px;
    width: 20%;
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(0, 128, 255);
    border-radius: 8px;
    font-family: Comic Sans MS;
    text-align: left;
    font-size: 10px;
    color: black;
    transition: .2s ease-in-out;
  }
  
  .login-button:before {
    content: "";
    background: rgb(66,170,255);;
    height: 100px;
    width: 20px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  
  .login-button:hover {
    background: rgb(66,170,255);
    color: #fff;
  }
  
  .login-button:hover:before {
    left: 300px;
    transition: .5s ease-in-out;
  }

.login_page_field{
    text-shadow: none;
    width: 80%;
    height: 50px;
}

.register-link{
    font-size: 12px;
    font-family: none;
    color: rgba(43,112,230,0.9080882352941176);
    text-shadow: none;
    border-bottom: 2px solid transparent;
}

.register-link:hover {
    color: rgb(0, 128, 255);
    border-bottom: 2px solid rgb(0, 128, 255);
    box-shadow: 0 1px 0 white, 0 2px 0 #969696;
}
/*     
@media screen and (max-width: 500px){

    .login-page{
        display:block;
        position:relative;
    }

    .input_background{
        display: flex;
        margin-top: 25%;
        height: 300px;
        width: 85%;
     }

     .login_page_field{
        width: 90%;
        height: 35px;
    }

    .shine-button {
        height: 50px;
        width: 60%;
    }

} */
      